/*
  Hide compile warnings and notifications, make want to set to true in dev
*/
$theme-show-compile-warnings: true;
$theme-show-notifications: true;

/*
  These are necessary for the image and font urls referenced in the source
  files to resolve correctly.
*/
$theme-image-path: "../../node_modules/uswds/src/img";
$theme-font-path: "../../node_modules/uswds/src/fonts";

/*
  The url for the hero image in the source file is not currently prefixed by
  the $theme-image-path above.
*/

$theme-hero-image: "#{$theme-image-path}/hero.png";

// Your custom changes to variables go here
// Uncomment to see this working
// $theme-color-primary-darker: 'black';
$theme-font-role-heading: "sans";
$theme-global-paragraph-styles: true;
$theme-global-link-styles: true;

@import "../../node_modules/uswds/dist/scss/uswds.scss";
// @import "../../node_modules/@trussworks/react-uswds/lib"
@import "~@trussworks/react-uswds/lib/index.css";

.usa-prose>p, p {
  max-width: unset;
}

.tfh-hp-top {
  @include u-border-bottom("1px");
  border-color: color("base-lighter");
}

.tfh-hp-highlight {
  @include u-padding-y("205");
  @include u-border-right("1px");
  border-color: color("base-lighter");
  text-align: left;
  h2 {
    margin-top: 0;
  }
  a {
    color: color("ink");
    text-decoration: none;
  }
}

.tfh-hp-highlight-desc {
  margin-top: 0;
  max-width: unset;
}
.tfh-hp-right-nav {
  @include u-padding-y("205");
  ol {
    list-style: none;
    padding-left: 2rem;
  }
  p {
    padding-left: 2rem;
  }
  hr {
    height: 4px;
    margin: 0 auto;
    border: none;
  }
}

.usa-footer {
  background-color: #1c1c1c;

  a {
    color: #fff;
  }

  .usa-social-link {
    background: none;
    height: 2rem;
    width: 2rem;
  }

  .usa-social-link img {
    filter: invert(100%);
  }

  .usa-footer__social-heading {
    color: #fff;
  }
  .usa-footer__nav {
    padding-top: 0;
    padding-bottom: 2rem;
  }
  .usa-footer__primary-content {
    line-height: 1.3;
    display: block;
  }
}

// TODO: Fix this to use the tokens defined by uswds
.tfh-next-link {
  text-align: center;
  display: block;
  margin: 2rem auto;
  a {
    color: #1b1b1b;
    font-size: 110%;
  }
}

.tfh-externalResources {
  h3 {
    background-color: #efefef;
    color: #777;
    font-weight: normal;
    padding: 2rem;
    width: 80%;
  }
  h3::after {
    content: "";
    border-bottom: solid #aaa 1px;
    display: block;
    width: 80%;
    margin-top: 1rem;
  }
}

.tfh-hp-initiatives {
  margin-bottom: 2rem;
}

li.usa-card {
  list-style: none;
}

@include at-media("tablet") {
  .tfh-initiativeCard-internal {
    display: flex;
    flex-direction: row;

    .usa-card__footer {
      margin-left: 2rem;
    }

    .usa-card__body {
      padding-bottom: 1rem;
    }
  }
}
